<h3>ENTER SOMETHING TO ABBREV:</h3>
<form method="POST" action="" id="totesify">
  <textarea name="sentence" form="totesify"></textarea>
  <br>
  <button type="submit"  class="hvr-underline-from-left">DUMB IT DOWN</button>

</form>

{{output}}

<script src="/javascripts/alert.js"></script>
