<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h3>Enter sentence to abbrev:</h3>
<form method="POST" action="" id="totesify">
  <textarea name="sentence" form="totesify" rows="7"></textarea>
  <br>
  <input type="submit">
</form>

{{output}}

<script src="/javascripts/alert.js"></script>
